{
  "root": true,
  "env": {
    "browser": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb/hooks",
    "prettier"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true
    }
  },
  "plugins": ["@typescript-eslint", "import", "prettier"],
  "globals": {
    "React": true,
    "JSX": true
  },
  "rules": {
    // NOTE: Please annotate all exceptions with a reason. ("because...")
    "camelcase": "off", // we have a lot of properties and interfaces that use underscores
    "no-use-before-define": "off", // because we put Styled Components definitions at the bottom
    "no-underscore-dangle": "off", // because we use _ as a prefix quite a bit in the api responses
    "no-prototype-builtins": "off", // because our code only touches objects with hardcoded keys
    "import/no-unresolved": "off", // because we use tsconfig's path aliases
    "import/extensions": "off", // because we don't care about the extension
    "import/no-extraneous-dependencies": "off", // because we are linking to @shared as an alias
    "import/prefer-default-export": "off", // because we prefer named exports over default exports
    "react/react-in-jsx-scope": "off", // see https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html#removing-unused-react-imports
    "no-shadow": "off", // because we must disable the base rule as it can report incorrect errors (see rule below where it is turned back on...)
    "@typescript-eslint/no-shadow": ["error"], // Turns the above rule on but with typescript flavor. see https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-shadow.md#how-to-use
    "react/jsx-filename-extension": ["error", { "extensions": [".jsx", ".tsx"] }], // because we want to allow JSX in .tsx files
    "react/require-default-props": "off", // because we're ok with dealing with undefined props in components, especially for booleans
    "react/jsx-props-no-spreading": "off", // because we use it sparingly anyway and it's a pain to avoid in legit cases
    "import/order": "warn", // because an error is a bit overkill for ordering imports
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "prettier/prettier": [
      "warn",
      {
        "trailingComma": "all", // makes adding new items to arrays easier
        "singleQuote": true, // helps distinguish property values from quotes in strings
        "printWidth": 120 // just preference
      }
    ]
  }
}
