.App {
  text-align: center;

}

.search-homepage{
  height: 100vh;
  background-image: url("./assets/images/background.jpg");
  /*filter: brightness(0.6);*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.map-container {
  /*height: 400px;*/
}
.search-container{
  max-width: 800px;
  flex: 1;
  filter: brightness(1);
  padding-left: 10px;
  padding-right: 10px;
}

.search-input{
  background: white;
  width: 100%;
}
.mapboxgl-map{
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
