body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Glacial Indifference-Regular';
  font-weight: 400;
  src: url('./assets/fonts/GlacialIndifference-Regular.otf');
  src: local("Glacial Indifference-Regular"), local("Glacial Indifference"),
  url('./assets/fonts/GlacialIndifference-Regular.otf')
}

@font-face {
  font-family: 'Glacial Indifference-Bold';
  font-weight: 600;
  src: url('./assets/fonts/GlacialIndifference-Bold.otf');
  src: local("Glacial Indifference-Bold"), local("Glacial Indifference"),
  url('./assets/fonts/GlacialIndifference-Bold.otf')
}